<div class="card business-context">
  <div class="business-context__title">
    <h4>BUSINESS CONTEXT</h4>
  </div>
  <div class="business-context__content">
    <div class="tasks">
      <div class="card task">
        <div class="task__info">
          <p>1</p>
          <p>Technical 1</p>
          <p>•</p>
          <p> 02.12.2022 </p>
          <p> Status</p>
        </div>
        <div class="task__description">
          <p>Priority</p>
          <p>Description Create a connection to SQL database using Excel</p>
        </div>
      </div>
      <div class="card task">
        <div class="task__info">
          <p>1</p>
          <p>Technical 1</p>
          <p>•</p>
          <p> 02.12.2022 </p>
          <p> Status</p>
        </div>
        <div class="task__description">
          <p>Priority</p>
          <p>Description Create a connection to SQL database using Excel</p>
        </div>
      </div>
      <div class="card task">
        <div class="task__info">
          <p>1</p>
          <p>Technical 1</p>
          <p>•</p>
          <p> 02.12.2022 </p>
          <p> Status</p>
        </div>
        <div class="task__description">
          <p>Priority</p>
          <p>Description Create a connection to SQL database using Excel</p>
        </div>
      </div>
    </div>
  </div>
</div>
