<div class="card business-context">
  <div class="business-context__title">
    <h4>BUSINESS CONTEXT</h4>
  </div>
  <div class="business-context__content">
    <div class="tasks">
      <app-task [wo_id]="1" assigned_to="technical 1" description="lorem" priority="Low" status="New"
                received_date="2021-07-20 15:23:03"></app-task>
      <app-task [wo_id]="1" assigned_to="technical 1" description="lorem" priority="Low" status="New"
                received_date="2021-07-20 15:23:03"></app-task>
      <app-task [wo_id]="1" assigned_to="technical 1" description="lorem" priority="Low" status="New"
                received_date="2021-07-20 15:23:03"></app-task>
    </div>
  </div>
</div>
