<div class="card business-context">
<div class="business-context__bar">
  <div class="business-context__title">
    <h4>BUSINESS CONTEXT</h4>
  </div>
    <app-search-task (searchEvent)=setSearchText($event)></app-search-task>
</div>
  <div class="business-context__content">
    <div class="tasks">
      <ng-container *ngIf="(tasks$ | async) as tasks">
        <app-task  *ngFor="let task of tasks.response.data | appFilter: searchText"
                   [received_date]="task.received_date"
                   [work_order_id]="task.work_order_id"
                   [status]="task.status"
                   [priority]="task.priority"
                   [assigned_to]="task.assigned_to"
                   [description]="task.description"
        ></app-task>
      </ng-container>
    </div>
  </div>
</div>
